<h1>Show <%= @cat[:name] %></h1>
  <table>
    <tr>
      <% @cat.attributes.each do |name, value| %>
        <th>
          <%= name %>
        </th>
      <% end %>
    </tr>

    <tr>
      <% @cat.attributes.each do |name, value| %>
        <td>
          <%= value %>
        </td>
      <% end %>
    </tr>

    <br>

    <% @cat.cat_rental_requests.order(:start_date).each do |crr| %>
    <tr>
      <td> <%= crr.start_date %> </td>
      <td> <%= crr.end_date %> </td>
    </tr>
    <% end %>
  </table>
